includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
  level: 1
  paths:
    - src
  excludePaths:
  ignoreErrors:
    -
      message: '#^Constant JOROBO_ROOT not found\.$#'
      identifier: constant.notFound
    -
      message: '#^Constant JPATH_ROOT not found\.$#'
      identifier: constant.notFound
    -
      message: '#^Constant JPATH_BASE not found\.$#'
      identifier: constant.notFound
  reportUnmatchedIgnoredErrors: false
